html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a:focus, button:focus {
  outline: none; }

button {
  border-radius: 0;
  border: none;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: black;
  color: white;
  vertical-align: top; }
  button:hover {
    cursor: pointer; }

header .logo {
  width: 225px;
  height: 200px;
  margin: 0 auto 75px;
  background: url("../../assets/img/peace.png") no-repeat scroll right/contain; }

#quote {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto 100px;
  text-align: center; }
  #quote h1, #quote h2 {
    font-weight: normal; }
  #quote h1 {
    font-size: 32pt;
    color: #333; }
  #quote h2 {
    margin: 35px 0 50px;
    line-height: 32px;
    color: #666; }
  #quote input {
    line-height: 40px;
    height: 40px;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14pt;
    width: 100px;
    vertical-align: top;
    border: 1px solid #ebebeb; }
    #quote input:focus {
      outline: none; }
  #quote .hatCount {
    margin-top: 25px;
    color: #999;
    font-size: 10pt; }

#product {
  width: 1080px;
  margin: 100px auto; }
  #product img {
    margin: 0 0 -5px;
    box-sizing: border-box; }

.half {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box; }
  .half:last-child {
    padding: 100px 100px 100px 0; }
  .half h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 0; }
    .half h3.price {
      font-weight: bold;
      text-align: center; }
  .half #desc {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px; }
  .half #size {
    text-align: center;
    margin-top: 15px; }
    .half #size button {
      display: inline-block;
      color: black;
      width: 52px;
      height: 52px;
      background: none;
      box-shadow: 0 0 0;
      border: 1px solid #cccccc;
      margin: 5px; }
      .half #size button:first-child {
        margin-left: 0; }
      .half #size button:last-child {
        margin-right: 0; }
      .half #size button:hover {
        cursor: pointer; }
      .half #size button.selected {
        background: black;
        color: white; }
  .half .Dropdown-root {
    line-height: 40px;
    margin: 10px auto 0;
    width: 300px;
    position: relative; }
    .half .Dropdown-root .Dropdown-control {
      border: 1px solid #cccccc;
      padding: 0 15px;
      box-sizing: border-box;
      position: relative; }
      .half .Dropdown-root .Dropdown-control .Dropdown-arrow {
        position: absolute;
        right: 15px;
        top: 10px;
        background: black;
        width: 20px;
        height: 20px; }
    .half .Dropdown-root .Dropdown-menu {
      border-top: 1px sold #cccccc;
      position: absolute;
      background: #ebebeb;
      width: 100%; }
      .half .Dropdown-root .Dropdown-menu .Dropdown-option {
        padding: 0 15px;
        box-sizing: border-box; }
        .half .Dropdown-root .Dropdown-menu .Dropdown-option:hover {
          background: #dedede; }
    .half .Dropdown-root:hover {
      cursor: pointer; }
  .half button {
    display: block;
    width: 300px;
    margin: 15px auto; }
    .half button.closeModal {
      width: auto;
      margin: 0; }

.closeModal {
  position: absolute;
  top: 0;
  right: 0; }

footer {
  text-align: center;
  margin-top: 75px; }
  footer a {
    display: inline-block;
    margin: 0 15px;
    opacity: 0.8; }
    footer a i {
      display: block;
      width: 25px;
      height: 25px; }
      footer a i.facebook {
        width: 24px;
        height: 24px;
        background: url("../../assets/img/facebook.svg") no-repeat scroll center/contain; }
      footer a i.instagram {
        background: url("../../assets/img/instagram.svg") no-repeat scroll center/contain; }

@media (max-width: 1080px) {
  #product {
    width: 100%; }
    #product img {
      width: 50%;
      height: auto; } }

@media (max-width: 767px) {
  header .logo {
    width: 125px;
    height: 100px;
    margin: 0 auto 50px; }
  #product {
    margin: 50px auto; }
    #product img {
      width: 100%;
      height: auto; }
  footer {
    margin-top: 50px; } }

@media (max-width: 414px) {
  #quote {
    width: 300px;
    padding: 0; }
    #quote h1 {
      font-size: 24pt; }
    #quote h2 {
      font-size: 16pt;
      line-height: 21pt; } }
